@model FoodDetailsServiceModel

@{
	ViewData["Title"] = $"{Model.MainFood.Name} - Details";
}

<div class="row">
	<div class="col-lg-7 no-gutters row">
		<div class="text-box" style="padding: 10px 10px 10px 10px; width: 100%; height: 98%">
			<div style="padding: 10px 10px 10px 10px">
				<h2 style="text-align:center">@Model.MainFood.Name</h2>
				<h3>Calories: @Model.MainFood.Calories</h3>
				<h5 style="padding-top: 1em">Proteins: @Model.MainFood.Proteins</h5>
				<h5 style="padding-top: 1em">Fats: @Model.MainFood.Fats</h5>
				<h5 style="padding-top: 1em">Carbs: @Model.MainFood.Carbohydrates</h5>
				<img class="mainDetailedFoodImage"  style="padding-top: 1em" src="@Model.MainFood.PictureUrl">
				<h4 style="margin-top:5%">@Model.MainFood.Description</h4>
			</div>
		</div>
	</div>
	<div class="col-lg-5 no-gutters row">
		<div class="form-group text-box" style="padding: 10px 10px 10px 10px; width: 100%">
			<div style="padding: 10px 10px 10px 10px">
				<h3>@Model.FirstSuggestedFood.Name</h3>
				<h5>Calories: @Model.FirstSuggestedFood.Calories</h5>
				<img class="detailedFoodImages" src="@Model.FirstSuggestedFood.PictureUrl">
				<a asp-controller="Food" asp-action="Details" asp-route-foodId="@Model.FirstSuggestedFood.Id" class="navbar-brand btn btn-settings font-settings float-left" style="margin-top: 10px">Check</a>
			</div>
		</div>
		<div class="form-group text-box" style="padding: 10px 10px 10px 10px; width: 100%">
			<div style="padding: 10px 10px 10px 10px">
				<h3>@Model.SecondSuggestedFood.Name</h3>
				<h5>Calories: @Model.SecondSuggestedFood.Calories</h5>
				<img class="detailedFoodImages" src="@Model.SecondSuggestedFood.PictureUrl">
				<a asp-controller="Food" asp-action="Details" asp-route-foodId="@Model.SecondSuggestedFood.Id" class="navbar-brand btn btn-settings font-settings float-left" style="margin-top: 10px">Check</a>
			</div>
		</div>
	</div>
</div>
